<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class='oe_mt32'>
                Lorem Ipsum
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More informations about Odoo Services of <a style="color:#6d57e0" href="http://www.jamotion.ch/">Jamotion GmbH here...</a>
        </div>
    </div>
</section>